.grid > div{
  background: #eee;
  height: 280px !important;
}
.small-tmb {
  width: 75px !important;
  height: 75px !important;
  margin: 30px auto 0 auto;
  display: block;
  float: none !important;
  border-radius: 122px;
}
.qt{
  background: #eee;
  margin-bottom: 20px;
}
.btn:hover{
  text-decoration: none !important;
}
.h75{
  height: 75px;
}
h3{
  padding-bottom: 10px;
}
.git{
  position: absolute;
  right: 10px;
  top: 7px;
}